@import '../../Main.scss';

.resources-wrapper {
	height: 100%; min-height: 75vh;
	width: 100%;

	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 2em;

	.resources-left-wrapper {
		background: $bg-color;

		height: 100%;
		border-top-right-radius: 2em;
		padding: 4em;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2em;

		.resources-important-links {
			width: 100%;

			display: flex;
			flex-direction: column;
			gap: 1em;
			
			h1 { color: $dark; font-size: 1.5em; grid-column: 1/3; margin-bottom: 0.5em; }

			.resources-important-link {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 0.5em;
				width: 100%;

				.resources-important-link-icon {
					width: fit-content;
					text-decoration: none;
					font-size: 1em;
					line-height: 0em;
					padding: 0.5em;

					background-color: $aqua-medium;
					color: $light;
					border-radius: 50%;
				}

				a { 
					width: fit-content;
					text-decoration: none;
					font-size: 1em;
					padding: 0.25em 0.5em;

					background-color: $aqua-medium;
					color: $light;
					border-radius: 0.25em;

					&:hover { background-color: $aqua-dark; }
				}

				.resources-important-link-description {
					width: 100%;
				}
			}
		}
	}

	.resources-right-wrapper {
		padding-bottom: 2em;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 2em;

		.resources-section {
			padding: 2em;
			display: flex;
			flex-direction: column;
			gap: 1em;
			
			background-color: $bg-color;
			border-top-left-radius: 2em;
			border-bottom-left-radius: 2em;

			.resources-section-title {
				font-size: 1.5em;
				font-weight: 700;
			}

			.resources-section-links {
				display: grid;
				grid-template-columns: 50% 50%;

				.resources-section-link {
					font-weight: 500;
					color: $aqua-dark;

					&:hover { color: $dark; }
				}
			}
		}
	}
}

.resources-resize-mobile {
	.resources-wrapper {
		grid-template-columns: 1fr;

		.resources-left-wrapper {
			border-radius: 0em;
			padding: 2em;

			.resources-important-links {
				display: flex;
				flex-direction: column;

				.resources-important-link {
					flex-wrap: none;
					width: 100%;

					.resources-important-link-description {
						width: fit-content;
					}
				}
			}
		}

		.resources-right-wrapper {
			padding: 0em;
			padding-bottom: 1em;
			gap: 0em;

			* {
				border-radius: 0em;
			}

			.resources-section {
				margin-top: 1em;
				.resources-section-links {
					grid-template-columns: 1fr;
				}
			}
		}
	}
}
