@import "../../Main.scss";

.resources-wrapper {
  height: 100%;
  min-height: 75vh;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 3fr;
  // gap: 2em;
  & > * {
    @include h-gap(2em);
  }

  .resources-left-wrapper {
    background: $bg-color;

    height: 100%;
    border-top-right-radius: 2em;
    padding: 4em;

    display: flex;
    flex-direction: column;
    align-items: center;

    .resources-important-links {
      width: 100%;
      display: flex;
      flex-direction: column;
      // gap: 1em;
      & > * {
        @include v-gap(1em);
      }

      h1 {
        color: $dark;
        font-size: 1.5em;
        grid-column: 1/3;
        margin-bottom: 0.5em;
      }

      .resources-important-link {
        display: inline-grid;
        grid-template-columns: min-content auto;
        grid-template-rows: min-content min-content;

        // gap: 0.5em;
        & > * {
          @include h-gap(0.6em);
        }
        width: 100%;

        .resources-important-link-icon {
          width: fit-content;
          text-decoration: none;
          font-size: 1em;
          line-height: 0em;
          padding: 0.5em;

          background-color: $aqua-medium;
          color: $light;
          border-radius: 50%;
        }

        a {
          width: fit-content;
          text-decoration: none;
          font-size: 1.0em;
          padding: 0.25em 0.5em;


          background-color: $aqua-dark;
          color: $light;
          border-radius: 0.25em;
          flex: none;

          &:hover {
            background-color: $orange-dark;
          }
        }

        .resources-important-link-description {
          color: $dark;
          grid-column: 2;
          width: 100%;
          font-size: 0.8em;
          font-style: italic;
          padding-top: 0.4em;
        }
      }
    }
  }

  .resources-right-wrapper {
    padding-bottom: 2em;
    height: 100%;
    display: flex;
    flex-direction: column;
    // gap: 2em;
    & > * {
      @include v-gap(2em);
    }

    .resources-section {
      padding: 2em;
      display: flex;
      flex-direction: column;
      // gap: 1em;
      & > * {
        @include v-gap(1em);
      }

      background-color: $bg-color;
      border-top-left-radius: 2em;
      border-bottom-left-radius: 2em;

      .resources-section-title {
        font-size: 1.5em;
        font-weight: 700;
        color: $dark;
      }

      .resources-section-note {
        font-size: 0.9em;
        color: $dark;
        width: 90%;
      }

      .resources-section-links {
        display: grid;
        grid-template-columns: 50% 50%;

        .resources-section-link {
          font-weight: 500;
          color: $aqua-dark;

          &:hover {
            color: $orange-dark;
          }
        }
      }
    }
  }
}

.resources-resize-tablet {
  .resources-wrapper {
    grid-template-columns: 1fr 2fr;
  }
}

.resources-resize-mobile {
  .resources-wrapper {
    grid-template-columns: 1fr;

    .resources-left-wrapper {
      border-radius: 0em;
      padding: 2em;

      .resources-important-links {
        display: flex;
        flex-direction: column;

        .resources-important-link {
          flex-wrap: none;
          width: 100%;

          .resources-important-link-description {
            width: fit-content;
          }
        }
      }
    }

    .resources-right-wrapper {
      padding: 2em;
      margin-left: 0em;

      * {
        border-radius: 2em;
      }

      .resources-section {
        @include v-gap(2em);
        .resources-section-links {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
