@import '../../Main.scss';

.assignments-inactive {
	pointer-events: none;
	opacity: 0.5;
}

.assignments-card {
	height: fit-content;
	width: 100%;

	border-radius: 1em;
	box-shadow: 0 0 0.5em 0em rgba($dark, 0.25);
	&:hover { box-shadow: 0 0 0.5em 0em rgba($dark, 0.5); }
	background-color: $light;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	.assignments-card-heading {
		padding: 0.75em 1em;
		display: grid;
		grid-template-columns: min-content auto;
		gap: 0.5em;
		width: 100%;

		.assignments-card-number {
			font-size: 1.5em;
			font-weight: 700;
			color: $orange-medium;
		}

		.assignments-card-title {
			font-size: 1em;
			font-weight: 500;
			color: $orange-dark;
			line-height: 1.25em;
			margin-top: 0.25em;
		}
	}

	.assignments-card-links {
		padding-bottom: 1em;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		// gap: 1em;
		& > * { @include h-gap(1em); }
	}

	.assignments-card-due-date {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.75em 1em;
		
		font-weight: 500;
		font-size: 0.9em;
		color: $light;
		background: $aqua-medium;
	}
}