@import '../../Main.scss';

.home-wrapper {
	height: 100%; min-height: 75vh;
	width: 100%;

	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: min-content min-content 1fr;
	gap: 2em;

	.home-left-wrapper {
		background: $bg-color;
		grid-column: 1;
		grid-row: 1 / span 3;

		height: 100%;
		border-top-right-radius: 2em;
		padding: 4em;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2em;

		.home-intro-images {
			position: relative;
			height: fit-content;
			width: 100%;
			margin-bottom: 2em;

			.cit-illustration {
				width: 100%;
			}

			.animated-image-wrapper {
				position: absolute;
				top: 3em;
			}
		}

		.home-intro-text {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			text-align: justify;
			gap: 1em;

			h1 { color: $dark; font-size: 1.5em; }
			p { color: $dark; }
		}

		.home-links {
			width: 100%;

			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			gap: 1em 2em;
			
			h1 { color: $dark; font-size: 1.5em; grid-column: 1/3; margin-bottom: 0.5em; }

			.home-link {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 0.5em;
				width: 100%;

				.home-link-icon {
					width: fit-content;
					text-decoration: none;
					font-size: 1em;
					line-height: 0em;
					padding: 0.5em;

					background-color: $aqua-medium;
					color: $light;
					border-radius: 50%;
				}

				a { 
					width: fit-content;
					text-decoration: none;
					font-size: 1em;
					padding: 0.25em 0.5em;

					background-color: $aqua-medium;
					color: $light;
					border-radius: 0.25em;

					&:hover { background-color: $aqua-dark; }
				}

				.home-link-description {
					width: 100%;
				}
			}
		}
	}

	.home-announcement {
		grid-column: 2;
		grid-row: 1;
		height: min-content;

		padding: 1em;
		border-top-left-radius: 2em;
		border-bottom-left-radius: 2em;

		background: $orange-medium;
		color: $dark;

		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;

		div {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;

			div {
				line-height: 0em;
				font-size: 0.75em;
				background: $dark;
				border-radius: 50em;
				padding: 0.5em;
				color: $orange-medium;
				margin-right: 0.5em;
			}

			p {
				mark {
					color: $dark;
					background: none;
					font-weight: 700;
					margin-right: 0.25em;
				}
			}
		}
	}

	.home-due-soon {
		background: $bg-color;
		grid-column: 2;
		grid-row: 2;
		
		border-top-left-radius: 2em;
		border-bottom-left-radius: 2em;

		padding: 2em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		gap: 0.5em;

		.home-due-soon-content {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 2em;
			font-size: 1em;
			font-weight: 500;

			.home-due-soon-section {
				display: flex;
				flex-direction: column;

				width: 100%;

				.home-due-soon-label {
					padding: 0.5em 1em;
					display: flex;
					align-items: center;
					justify-content: space-between;

					a {
						color: $orange-dark;
						font-weight: normal;
						opacity: 0.5;
						text-decoration: none;
	
						&:hover { opacity: 1; }
					}
				}
	
				.assignments-card { width: 100%; }
			}
		}
	}

	.home-hours {
		grid-column: 2;
		grid-row: 3;
		padding-bottom: 2em;
		padding-right: 2em;

		background: $light;
		width: 100%;
		height: 100%;
		// min-height: fit-content;

		iframe {
			width: 100%;
			height: 100%;
			min-height: 60vh;
		}
	}
}

.home-resize-mobile {
	.home-wrapper {
		width: 100%;
		grid-template-columns: 100vw;
		grid-template-rows: auto;
		gap: 2em;

		.home-left-wrapper {
			grid-column: 1;
			grid-row: 2;

			width: 100vw;
			padding: 2em;
			border-radius: 0em;
			
			.home-intro-images {
				width: 80%;
			}

			.home-intro-text {
				text-align: left;
			}

			.home-links {
				display: flex;
				flex-direction: column;

				.home-link {
					flex-wrap: none;
					width: 100%;

					.home-link-description {
						width: fit-content;
					}
				}
			}
		}

		.home-announcement {
			grid-column: 1;
			grid-row: 1;

			border-radius: 1em;
			text-align: left;

			width: unquote("calc(100% - 4em)");
			margin: 0 2em;
		}

		.home-due-soon {
			grid-column: 1;
			grid-row: 3;

			border-radius: 2em;
			text-align: center;

			margin: 0 2em;

			.home-due-soon-content {
				text-align: left;
				grid-template-columns: 1fr;
				grid-template-rows: repeat(3, 1fr);
			}
		}

		.home-hours {
			grid-column: 1;
			grid-row: 4;
			width: 100%;
			padding-right: 0;

			iframe {
				margin: 0 2em;
				width: unquote("calc(100% - 4em)");
			}
		}
	}
}

.home-resize-tablet {
	.home-wrapper {
		grid-template-columns: 1fr 1fr;

		.home-left-wrapper {
			padding: 2em;
			grid-row: 1 / span 2;

			border-bottom-right-radius: 2em;
		}

		.home-due-soon {
			border-top-right-radius: 0em;
			border-bottom-right-radius: 0em;
			text-align: center;

			.home-due-soon-content {
				gap: 0em;
				text-align: left;
				grid-template-columns: 1fr;
				grid-template-rows: repeat(3, 1fr);
			}
		}

		.home-hours {
			grid-column: 1 / span 2;
			grid-row: 3;
			width: 100%;
			padding-right: 0em;

			iframe {
				margin: 0 2em;
				width: unquote("calc(100% - 4em)");
			}
		}
	}
}
