@import '../../Main.scss';

.home-wrapper {
	height: 100%; min-height: 85vh;
	width: 100%;

	display: grid;
	grid-template-columns: 2fr 3fr;
	gap: 2em;

	.home-left-wrapper {
		background: $bg-color;

		height: 100%;
		border-top-right-radius: 2em;
		padding: 4em;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2em;

		.home-intro-images {
			position: relative;
			height: 20vh;

			.cit-illustration {
				position: absolute;
				height: 80%;
				left: 5em; top: 0;
				z-index: 1;
			}

			.animated-image-wrapper {
				position: relative;
				top: 0;
				left: 0;
				z-index: 10; 
			}
		}

		.home-intro-text {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			text-align: justify;
			gap: 1em;

			h1 { color: $dark; font-size: 1.5em; }
			p { color: $dark; }
		}
	}

	.home-right-wrapper {
		height: 100%;
		display: grid;
		grid-template-rows: 2fr 3fr;
		gap: 2em;

		.home-due-soon {
			background: $bg-color;
			border-top-left-radius: 2em;
			border-bottom-left-radius: 2em;
		}

		.home-hours {
			background: $light;
		}
	}
}