@import '../../Main.scss';

.home-wrapper {
	height: 100%; min-height: 85vh;
	width: 100%;

	display: grid;
	grid-template-columns: 2fr 3fr;
	gap: 0em;

	.home-left-wrapper {
		background: $bg-color;

		height: 100%;
		border-top-right-radius: 2em;
		padding: 4em;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2em;

		.home-intro-images {
			position: relative;
			height: fit-content;
			width: 100%;
			margin-bottom: 2em;

			.cit-illustration {
				width: 100%;
			}

			.animated-image-wrapper {
				position: absolute;
				top: 3em;
			}
		}

		.home-intro-text {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			text-align: justify;
			gap: 1em;

			h1 { color: $dark; font-size: 1.5em; }
			p { color: $dark; }
		}

		.home-links {
			width: 100%;
			// display: flex;
			// flex-direction: column;
			// align-items: flex-start;
			// justify-content: center;
			// gap: 1em;

			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			gap: 1em 2em;
			
			h1 { color: $dark; font-size: 1.5em; grid-column: 1/3; margin-bottom: 0.5em; }

			.home-link {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 0.5em;
				width: 100%;

				.home-link-icon {
					width: fit-content;
					text-decoration: none;
					font-size: 1em;
					line-height: 0em;
					padding: 0.5em;

					background-color: $aqua-medium;
					color: $light;
					border-radius: 50%;
				}

				a { 
					width: fit-content;
					text-decoration: none;
					font-size: 1em;
					padding: 0.25em 0.5em;

					background-color: $aqua-medium;
					color: $light;
					border-radius: 0.25em;

					&:hover { background-color: $aqua-dark; }
				}

				.home-link-description {
					width: 100%;
				}
			}
		}
	}

	.home-right-wrapper {
		height: 100%;
		display: grid;
		grid-template-rows: min-content max-content auto min-content;
		gap: 2em;

		.home-announcement {
			padding: 1em;
			margin: 0 2em;
			border-radius: 2em;

			background: $orange-medium;
			color: $dark;

			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;

			div {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;

				div {
					line-height: 0em;
					font-size: 0.75em;
					background: $dark;
					border-radius: 50em;
					padding: 0.5em;
					color: $orange-medium;
					margin-right: 0.5em;
				}

				p {
					mark {
						color: $dark;
						background: none;
						font-weight: 700;
						margin-right: 0.25em;
					}
				}
			}
		}

		.home-due-soon {
			background: $bg-color;
			border-top-left-radius: 2em;
			border-bottom-left-radius: 2em;

			padding: 2em;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			gap: 0.5em;
			margin-left: 2em;

			.home-due-soon-labels {
				margin-top: 1em;
				width: 100%;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 2em;
				font-size: 1em;
				font-weight: 500;

				.home-due-soon-label {
					padding: 0 1em;
					display: flex;
					align-items: center;
					justify-content: space-between;

					a {
						color: $orange-dark;
						font-weight: normal;
						opacity: 0.5;
						text-decoration: none;

						&:hover { opacity: 1; }
					}
				}
			}

			.home-due-soon-cards {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 2em;

				.assignments-card { width: 100%; }
			}
		}

		.home-hours {
			background: $light;
			width: 100%;
			height: 100%;
			min-height: fit-content;
			padding: 0 2em;

			iframe {
				width: 100%;
				height: 100%;
				min-height: 60vh;
			}
		}

		.home-contact {
			background-color: $orange-medium;
			height: 10vh;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 2em;
			color: $dark;

			a { color: $dark; }
		}
	}
}